nav{
  padding:  0;
  padding-right: 2%;
  margin: -1%;  
}
.container-fluid{
  padding:  0;
  margin: 0;
}

.logo-img{
  max-width:100%;
  height: auto;
  }
.nav-item{
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.navbar-expand-lg {
  background-color: #023373;
  color:#ffffff;
  max-height: 177px;
}

button{
  color: #ffffff;
  font-size:  380%;
  margin: 0%;
}

a{
    color:#ffffff;
}
a:hover{
    color:#aaa;
}
.form-control {
  background-color: #aaa;
  color:#ffffff;
}

.fa-calendar-days, .fa-list, .fa-circle-plus, .fa-arrow-right-from-bracket {
  width: 65px;
  height: 58px;
  margin-right: 10px;
}
li{
  font-size: 26px;
  width: 280px;
}
.nav-derecho{
  display: flex;
  flex-direction: row-reverse;
}


@media  (max-width:500px) { 
  .logo-img{
    width:100%;
    height: auto;
    }
  a{
    color:#023373;
  }
} 




