<header>
    <nav class="navbar navbar-expand-lg" aria-label="Fifth navbar example">
      <div class="container-fluid mx-1">
        <a class="navbar-brand" href="#" title="Inicio"><img class="d-inline-block align-text-right" src="/assets/img/Blue Mount Town Logo Design 1.png" class="logo-img" alt="Logo FriendCity"/></a>

      
        <button (click)="setActive" class="navbar-toggler" type="button">
        <i class="fas fa-bars"></i>
        </button>

      <div class="collapse navbar-collapse nav-derecho"
      [ngClass]="{'navbar-collapse--activo' : active}" >
        <ul class=" navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink=""><i class="fa-solid fa-calendar-days"></i> Calendario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""><i class="fa-solid fa-list"></i> Lista de Amigos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""><i class="fa-solid fa-circle-plus"></i> Crear evento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""><i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
